In [88]:
from datetime import datetime

In [89]:
data_strings=[ 
              "2023-07-16",
              "16-07-2023",
              "July 16,2023",
              "07/16/2023",
              "2023.07.16" 
]

In [90]:
def convert_strings_to_dates(date_list):
    date_formats = [
        "%Y-%m-%d",
        "%d-%m-%Y",
        "%B %d, %Y",
        "%m/%d/%Y",
        "%Y.%m.%d"
    ]

In [94]:
date_objects = []

for date_str in date_list:
    for fmt in date_formats:
        try:
            date_obj = datetime.strptime(date_str, fmt)
            date_objects.append(date_obj)
            break
        except ValueError:
            continue
    else:
        print(f"Date format not recognized: {date_str}")

return date_objects

NameError: name 'date_formats' is not defined

In [95]:
date_objects = convert_strings_to_dates(date_strings)

print(data_objects)

[]

In [96]:
current_date = datetime.now()
print(current_date)

2024-07-17 12:19:10.613509

In [99]:
for date in date_objects:
    difference = current_date-date
    print(f"Days Difference from{date}:{difference.date}")

TypeError: 'NoneType' object is not iterable

In [98]:
for date in date_objects:
    formatted_date = date.strftime("%A, %B %d, %Y")
    print(formatted_dates)

TypeError: 'NoneType' object is not iterable